body, textarea, input, a {
    background-color: #000;
    font-family: "Helvetica Neue",Helvetica,Roboto,Arial,sans-serif;
    color: #DDD;
}

body {
    padding-right:35px;
    padding-left:35px;
    font-size:18px;" 
    margin:0px;
}

a, a:visited {
    text-transform: lowercase;
    font-weight: bold;
    text-decoration:underline;
    text-decoration:none;
    color: #EDEC51;
}
a:hover {
    color: #FFF;
    text-decoration:none;
}

h1.header{
    font-size: 36px;
    font-weight: bold;
    text-align:center;
    color: "#AAA"
}

h3.header{
    font-size:20px;
    font-weight: bold;
    text-align:center;
    color: "#3273C5";
}

table.res{
    border: 1px;
    border-spacing:0;
    border-collapse: separate; 
    border-spacing: 5px;
}

div.help, div.ressources, div.steuerung, div.info, div.graph, div.winw, div.savew {
    background-color: black;
    padding:5px;
    border: 2px solid #3273C5;
}
div.help {
    width:270px;
    display:none;
    margin-top:15px;
}
div.ressources {
    width:270px;
}
div.steuerung {
    margin-left:8px;
    width:600px;
}
div.info {
    margin-left:8px;
    width:220px;
}
div.graph {
    margin-left:8px;
    display:none;
    width:450px;
}

div.winw {
    padding-bottom:15px;
    position:absolute;
    top:40%;
    left:30%;
    width:50%;
    display:none;
    z-index:100;
}

div.savew {
    padding:5px;
    padding-bottom:15px;
    position:absolute;
    top:40%;
    left:30%;
    width:450px;
    display:none;
    z-index:101;
}

input, textarea, option {
    border-color:black;
    color:#AAA;
}

span.failed {
    color: #E15021;
}

span.ok {
    color: #3273C5;
}

input.text {
    width:4em;
}

